{% extends 'main.html' %}

{% block title %}Настройки{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{MEDIA_URL}}f.css">
{% endblock %}

{% block settings %}active{% endblock %}

{% block body %}
<h1 class="indent text-white">Настройки для {{request.user.username}}</h1>

{% if flag_error %}
     <div class="p-3 bg-info bg-opacity-10 border border-danger border-start-0 rounded-end indent" style="width: 30%;">
         <h3 class="indent text-danger">{{flag_error}}</h3>
     </div>
{% endif %}

<br>
<form method="POST" enctype="multipart/form-data">
     {% csrf_token %}
     <h3><label for="timezone" class="indent text-white">Временная зона UTC: </label></h3>
        <input class="form-control indent" list="datalistOptions" id="timezone" name="timezone" placeholder="Поиск временной зоны..." style="width: 30%;">
        <datalist id="datalistOptions" >
          {% for tz in tzs %}
             <option value="{{tz}}">
         {% endfor %}
        </datalist>
     {% for _, form in forms.items %}
         {% for i in form %}
             <br>
             <h3><span class="form-label indent" style="color: rgb(255, 255, 255)">{{i.label}}</span></h3>
             <span class="indent" style="color: rgb(255, 255, 255)">{{i}}</span><br>
         {% endfor %}
     {% endfor %}
     <br>
     <button type="submit" class="btn btn-primary indent">Сохранить</button>
</form>
{% endblock %}