{% extends 'main.html' %}
{% load tz %}

{% block title %}{{user.username}}{% endblock %}
{% block links %}
<link rel="stylesheet" href="{{MEDIA_URL}}f.css">
{%endblock%}

{% block user %}active{% endblock %}

{% block body %}
<h2 class="indent text-white">{{user.username}} персональная страничка!</h2>
{% if flag %}
<div class="p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end indent" style="width: 30%;">
     <h3 class="text-info">Обновлено успешно.</h3>
</div>
<br>
{% endif %}
<img src="{{MEDIA_URL}}{{image}}?{{any_random_integer}}" alt="Avatar" width="250" height="250" class="indent">
<br><br>
<ul class="list-group">
     <li class="list-group-item list-group-item-secondary indent" style="width: 30%;">Дата регистрации:
          {% if tzone %}
            {% if tzone != 'Default' %}
                {{user.date_joined|timezone:tzone|date:"H:i, d/m/Y"}}
            {% else %}
                {{user.date_joined|date:"H:i, d/m/Y"}}
            {% endif %}
          {% else %}
               {{user.date_joined|date:"H:i, d/m/Y"}}
          {% endif %}
     </li >
     <li class="list-group-item list-group-item-secondary indent" style="width: 30%;">Дата последнего входа:
          {% if tzone %}
            {% if tzone != 'Default' %}
                {{user.last_login|timezone:tzone|date:"H:i, d/m/Y"}}
            {% else %}
                {{user.last_login|date:"H:i, d/m/Y"}}
            {% endif %}
          {% else %}
               {{user.last_login|date:"H:i, d/m/Y"}}
          {% endif %}
     </li>
</ul>
{%endblock%}